<footer class="footer">
    <div class="footer-top">
        <div class="container">
           <div class="wrap">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-top-item">
                        <h3>
                            Phone Support
                        </h3>
                        <p class="m-t-10">
                            24 HOURS A DAY
                        </p>
                        <p class="phone m-t-28">
                            + 01 345 647 745
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer-top-item">
                        <h3>
                            Connect With Us
                        </h3>
                        <p class="m-t-10">
                            SOCIAL MEDIA CHANNELS
                        </p>
                        <div class="social m-t-28">
                            <a href="">
                                <img src="./assets/images/ins.png" alt="">
                            </a>
                            <a href="">
                                <img src="./assets/images/twi.png" alt="">
                            </a>
                            <a href="">
                                <img src="./assets/images/face.png" alt="">
                            </a>
                            <a href="">
                                <img src="./assets/images/pint.png" alt="">
                            </a>
                            <a href="">
                                <img src="./assets/images/youtu.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer-top-item">
                        <h3>
                            Newsletter
                        </h3>
                        <p class="m-t-10">
                            SIGN UP FOR SPECIAL OFFERS
                        </p>
                        <div class="search m-t-20">
                            <form action="">
                                <div class="search-input">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="search-btn">
                                    <input type="submit" value="SUBSCRIBE">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-menu p-re">
                        <div class="footer-menu-list">
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Home</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">About Us</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Services</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Booking</a>
                            </li>
                            <li class="footer-menu-item">
                                <a href="" class="footer-menu-link">Contact</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-bottom-img">
                        <img src="./assets/images/partners.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>