<header class="header">
    <div class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="header-nav-left">
                        <div class="header-nav-language flexCenter">
                            <a href="" class="m-r-10">
                                <img src="./assets/images/world-white.svg" alt="">
                            </a>
                            <a href="" class="m-r-20">
                                <span>
                                    languages
                                </span>
                            </a>
                        </div>
                        <div class="header-nav-font flexCenter">
                            <a href="" class="m-r-20">
                                <span>
                                    EN
                                </span>
                            </a>
                            <a href="" class="m-r-20">
                                <span>
                                    ES
                                </span>
                            </a>
                        </div>
                        <div class="header-nav-our flexCenter">
                            <a href="" class="m-r-10">
                                <img src="./assets/images/share-white.svg" alt="">
                            </a>
                            <a href="" class="m-r-20">
                                <span>
                                    Our social
                                </span>
                            </a>
                        </div>
                        <div class="header-nav-social flexCenter">
                            <a href="" class="m-r-10">
                                <img src="./assets/images/facebook-white.svg" alt="">
                            </a>
                            <a href="" class="m-r-10">
                                <img src="./assets/images/twitter-white.svg" alt="">
                            </a>
                            <a href="" class="m-r-10">
                                <img src="./assets/images/linkedin-white.svg" alt="">
                            </a>
                            <a href="" class="m-r-10">
                                <img src="./assets/images/pinterest-white.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="header-nav-right">
                        <div class="header-nav-register flexCenter">
                            <a href="">
                                <img src="./assets/images/user-white.svg" alt="">
                            </a>
                            <a href="" class="m-l-10">
                                <span>
                                    register
                                </span>
                            </a>
                        </div>
                        <div class="header-nav-login flexCenter">
                            <a href="" class="m-l-20">
                                <img src="./assets/images/login-white.svg" alt="">
                            </a>
                            <a href="" class="m-l-10">
                                <span>
                                    login in
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="container">
            <div class="header-content-img">
                <a href="">
                    <img src="./assets/images/logo_chalet.png" alt="">
                </a>
                <div class="header-content-icon">
                  <a >
                    <img src="./assets/images/icon-menu.svg" alt="">
                  </a> 
                </div>
                <div class="navbar-menu">
                    <img src="./assets/images/icon-close-white.svg" alt="" class="navbar-menu-close">
                    <div class="navbar-menu-box">
                        <ul class="navbar-menu-list">
                            <li class="navbar-menu-item">
                                <a href="" class="navbar-menu-link">Home</a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Home 1</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Home 2</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Home 3</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Home 4</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Home 5</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Home 6</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Home 7</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Multilingual</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-menu-item">
                                <a href="" class="navbar-menu-link">Rooms</a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Room  gallery</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Room video</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Room default</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Room branch</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-menu-item">
                                <a href="" class="navbar-menu-link">About us</a>
                            </li>
                            <li class="navbar-menu-item">
                                <a href="" class="navbar-menu-link">Pages</a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Around us</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Teams & conditions</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Services</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Contact</a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">Contact 1</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">Contact 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Coming soon</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Restaurant</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">About us</a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">About us 1</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">About us 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Promotions</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Testimonials</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-menu-item">
                                <a href="" class="navbar-menu-link">New</a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Archive</a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">Full width</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">Right sidebar</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">Left sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Single post</a>
                                        <ul class="sub-menu">
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">Full width</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">Right sidebar</a>
                                            </li>
                                            <li class="sub-menu-item">
                                                <a href="" class="sub-menu-link">Left sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-menu-item">
                                <a href="" class="navbar-menu-link">Contact</a>
                                <ul class="sub-menu">
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Contact 1</a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="" class="sub-menu-link">Contact 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-menu-item">
                                <a href="" class="navbar-menu-link">Book now</a>
                            </li>
                        </ul>
                    </div>
              </div>
            </div>
          
        </div>
    </div>
    <div class="header-menu">
        <ul class="header-menu-list">
            <li class="header-menu-item p-re">
                <a href="index.html" class="header-menu-link">home</a>
                <div class="header-dropdown">
                    <ul class="header-dropdown-list">
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Home 1</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Home 2</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Home 3</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Home 4</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Home 5</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Home 6</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Home 7</a>
                        </li>
                        <li class="header-dropdown-item ">
                            <a href="" class="header-dropdown-link p-re">Multilingual
                                <span class="btn-primary">
                                    demo
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header-menu-item p-re">
                <a href="rooms.html" class="header-menu-link">rooms</a>
                <div class="header-dropdown">
                    <ul class="header-dropdown-list">
                        <li class="header-dropdown-item ">
                            <a href="rooms-gallery.html" class="header-dropdown-link p-re">Room Gallery
                                <span class="btn-primary">
                                    Best
                                </span>
                            </a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="rooms-video.html" class="header-dropdown-link">Room Video</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="rooms-default.html" class="header-dropdown-link">Room Default</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="rooms-branch.html" class="header-dropdown-link">Room branch</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header-menu-item">
                <a href="about.html" class="header-menu-link">about us</a>
            </li>
            <li class="header-menu-item p-re">
                <a href="" class="header-menu-link">pages</a>
                <div class="header-dropdown">
                    <ul class="header-dropdown-list">
                        <li class="header-dropdown-item">
                            <a href="page-around.html" class="header-dropdown-link">Around Us</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="page-terms.html" class="header-dropdown-link">Terms & Conditions</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="page-services.html" class="header-dropdown-link">Services</a>
                        </li>
                        <li class="header-dropdown-item p-re">
                            <a href="" class="header-dropdown-link p-re">Contact
                                <div class="icon-left">

                                </div>
                            </a>
                            <div class="header-dropdown-box">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown-item">
                                        <a href="contact-1.html" class="header-dropdown-link">Contact 1</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="contact-2.html" class="header-dropdown-link">Contact 2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Coming Soon</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="page-restaurant.html" class="header-dropdown-link">Restaurant</a>
                        </li>
                        <li class="header-dropdown-item p-re">
                            <a href="" class="header-dropdown-link p-re">About Us
                                <div class="icon-left">
                                </div>
                            </a>
                            <div class="header-dropdown-box">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown-item">
                                        <a href="about.html" class="header-dropdown-link">About 1</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="about-2.html" class="header-dropdown-link">About 2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Promotions</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Testimonials</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="page-gallery.html" class="header-dropdown-link">Gallery</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header-menu-item p-re">
                <a href="news.html" class="header-menu-link">news</a>
                <div class="header-dropdown">
                    <ul class="header-dropdown-list">
                        <li class="header-dropdown-item p-re">
                            <a href="" class="header-dropdown-link p-re">
                                Archive
                                <div class="icon-left">
                                </div>
                            </a>
                            <div class="header-dropdown-box">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown-item">
                                        <a href="" class="header-dropdown-link">Full Width</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="" class="header-dropdown-link">Right Sidebar</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="" class="header-dropdown-link">Left Sidebar</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-dropdown-item p-re">
                            <a href="news-single.html" class="header-dropdown-link p-re">Single Post
                                <div class="icon-left">
                                </div>
                            </a>
                            <div class="header-dropdown-box">
                                <ul class="header-dropdown-list">
                                    <li class="header-dropdown-item">
                                        <a href="" class="header-dropdown-link">Full Width</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="" class="header-dropdown-link">Right Sidebar</a>
                                    </li>
                                    <li class="header-dropdown-item">
                                        <a href="" class="header-dropdown-link">Left Sidebar</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header-menu-item p-re">
                <a href="" class="header-menu-link">contact</a>
                <div class="header-dropdown">
                    <ul class="header-dropdown-list">
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Contact 2</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a href="" class="header-dropdown-link">Contact 1</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header-menu-item btn-primary header-menu-btn">
                <a href="" class="header-menu-link">book now</a>
            </li>
        </ul>
    </div>
</header>