@media (max-width:1400px) {
    .checkbox-list p {
        display: block;
    }
}


@media (max-width:1200px) {
   
    .terms-sidebar {
        padding: 0;
    }
    .about-service-list {
        padding: 0;
    }
    .sidebar-booking .sidebar-tour .box {
        padding: 4px;
    }

    .banner-left-item {
        margin-right: 20px;
    }
    .header-nav {
        background-image: none !important;
        background-color: #78635a !important;
    }

    .header-nav-right {
        justify-content: center;
    }

    .header-nav-left {
        justify-content: center;
    }

    .header-menu {
        display: none;
    }

    .contact-left-box {
        position: none;
    }

    .contact-form {
        width: 400px;
    }

    .header-content-icon {
        display: block;
    }
}

@media (max-width:991px) {
    
    .about2-content .content-payment {
        display: block;
    }
    .about2-content .content-payment-item {
        width: 100%;
    }
    .about2-content-main .main-image-item  {
        margin-top: 30px;
    }
    .page-restaurant-content .content-banner-item {
        margin-top: 20px;
    }
    .page-restaurant-content .contact-form {
        width: 100%;
    }
    .page-services-content .content-banner-overlay .banner-img-item {
        margin-top: 30px;
    }
    .content-system-box {
        margin: 10px 0px;
    }
    .page-services-content .content-system-box img {
        margin-top: 10px;
    }
    .page-services-content .content-section-item {
        margin-bottom: 30px;
    }
    .page-services-content .content-payment {
        display: block;
    }
    .page-services-content .content-payment-item {
        width: 100%;
    }
    .page-gallery-image .image-item.mid {
        height: auto !important;  
    }
    .page-gallery-image .image-item {
        margin-bottom: 30px;
    }
    .news-single-content .content-box-img img {
        padding-bottom: 10px;
    }
    .sidebar {
        padding: 0;
        margin-top: 30px;
    }

    .sidebar-calendar table {
        width: 100%;
    }
    .terms-sidebar {
        margin-top: 40px;
    }
    .around-content-item {
        margin-bottom: 20px;
    }
    .desc-img-item  {
        margin-bottom: 20px;
    }

    .about-description-left h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    .about-description p {
        margin-bottom: 20px;
        text-align: center;
    }
    .about-service-item {
        width: 100%;
    }
    .banner-left-list {
        justify-content: center;
        padding: 15px;
    }

    .banner-right-info {
        padding: 15px;
    }

    .contact-left-box {
        margin-top: 0;
    }

    .contact-right {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    .post-item {
        margin: 15px 0px;
    }

    .footer-top-item p.phone,
    .footer-top-item .social {
        margin-bottom: 50px;
    }

    .box-choose {
        justify-content: center;
    }

    .box-form  {
        margin-left: 8px;
    }
}

@media (max-width:768px) {
    .page-gallery-slide .slide-list-mode {
        width: 100%;
        height: 400px;
    }
    .footer-menu-list {
        position: relative;
        flex-wrap: wrap;
    }
   
    .around-banner-box h1,
    .page-banner-content h1,
    .rooms-banner-content h1 {
        font-size: 4rem;
        text-align: center;
    }
    .rooms-filter-display {
        display: none;
    }
    .text-box {
        display: none;
    }

    .check-form form {
        position: unset;
        top: 0%;
        transform: translateY(-0%);
        display: block;
    }

    .check-form-list {
        width: 100%;
    }

    .check-form-btn {
        width: 100%;
    }

    .check-form {
        height: 100%;
    }

    .check-form-item {
        margin-bottom: 20px;
    }

    .check-form-btn input {
        width: 100%;
    }

    .banner-list {
        display: inline-block;
        width: 100%;
    }

    .footer-top-item .search form {
        display: inline-block;
        width: 100%;
    }
    .footer-top-item .search-input,
    .footer-top-item .search-btn {
        width: 100%;
    }
}

@media (max-width:500px) {
    .slide-list-nav .slide-list-item .image-text {
        padding: 10px;
    }
    .box-title {
        font-size: 1.1rem;
    }
    .footer-bottom-img img {
        width: 100%;
    }
    .footer-menu-item {
        margin-bottom: 20px;
    }
    .header-nav-language,
    .header-nav-our {
        display: none;
    }
    .banner-left-list {
        display: block;
        text-align: center;
    }

    .gallery-content-info .info-list {
        display: block;
        text-align: center;
    }

    .gallery-content-info .info-item {
        width: 100%;
        margin-bottom: 40px;
    }
}